.card-default {
    padding: 2% 5% 4%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2%;
    margin-bottom: 3%;
    background-color: white;
}

.button-submit {
    width: 98%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
    margin-left: 1%;
    margin-right: 1%;
}

.text-content {
    overflow-wrap: break-word;
}
