{% macro render_field(field) %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="form-group">
            {{ field.label }}
            {{ field(**kwargs)|safe }}
            {% if field.errors %}
                <ul class=errors>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}
