{% extends "base.html" %}
{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h3>Add a new note</h3>
        </div>
    </div>
    <br />
    <form method=post>
        {{ render_field(form.title, class="form-control", autocomplete="off") }}
        {{ render_field(form.note, rows="10", class="form-control", autocomplete="off") }}
        {{ render_field(form.password, class="form-control") }}
        {{ render_field(form.confirm, class="form-control") }}
        {{ render_field(form.ttl, class="form-control", autocomplete="off") }}
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <input type="submit" class="button-submit" value="Save" />
            </div>
        </div>
    </form>
{% endblock %}
