{% extends "base.html" %}
{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
        {{ render_field(form.password, class="form-control") }}
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <input type="submit" class="button-submit" value="Send" />
            </div>
        </div>
    </form>
{% endblock %}
