{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8">
            Note has been added. Share it using this URL: <br />
            <a href={{ url }}>{{ url }}</a>
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-lg-8 justify-content-center">
            <form action="/">
                <button class="button-submit" onclick="location.href='{{ url_for('notes') }}'" type="button" >
                    Add another
                </button>
            </form>
        </div>
    </div>
{% endblock %}
