{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8 text-content">
            <h3>{{ note.title }}</h3>
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-lg-8 text-content">
            {{ note.note }}
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-lg-8 justify-content-center">
            <form action="/">
                <button class="button-submit" onclick="location.href='{{ url_for('notes') }}'" type="button" >
                    Home
                </button>
            </form>
        </div>
    </div>

{% endblock %}
